body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to right, #1e3c72, #2a5298);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #333;
}

.app-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 450px;
}

.search-box {
    display: flex;
    gap: 15px;
}

#city-input {
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#search-btn {
    padding: 15px 25px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-btn:hover {
    background-color: #0056b3;
}
